In [25]:
#DataFrame对象
import pandas as pd
import numpy as np
df_dict = {
    'name':['James','Curry','Iversion'],
    'age':['18','19','20'],
    'national':['us','china','us']
}
#DataFrame对象 会将key作为 每列的列名 
df = pd.DataFrame(data=df_dict,index=['0','1','2'])
print(df)
#获取行和列
print('---获取行和列----')
print(df.shape)
#获取列 的值
print('--获取列的值--')
print(df['name'])
##获取多个列的值
print('--获取多列的值--')
print(df[['name','age']])
#获取行的值 一定要使用切片
print('--获取行的值,要使用切片---')
print(df[0:1])
#获取行索引
print('--获取行索引--')
print(df.index.tolist())
#获取列索引
print('--获取列索引--')
print(df.columns.tolist())
#获取数据类型
print('--获取数据类型--')
print(df.dtypes)
#获取数据维度
print('--获取数据维度--')
print(df.ndim)
#values属性也会以二维ndArray的形式返回DataFrame的数据
print('--values属性---')
print(df.values)
#展示df的概览
print('--df的概览---')
print(df.info())
#head tail方法和Series的一样
'''
df.loc   通过标签索引行数据
df.iloc  通过位置获取行数据
'''
#获取某一行某一列数据
print('--获取某一行某一列的数据--')
print(df.loc['0','name'])
#获取某一行的所有列：
print('--获取某一行所有列--')
print(df.loc['0',:])
#获取某一行多列
print('--获取某一行 间隔多列--')
print(df.loc['0',['name','national']])
#获取间隔 多行 多列
print('--获取间隔 多行 多列--')
print(df.loc[['0','2'],['name','national']])
#获取连续行和间隔的多列
print('---获取连续的行 和 间隔的多列--')
print(df.loc['0':'2'],['name','national'])


##获取一行
print('--位置索引获取1行---')
print(df.iloc[1])
##获取连续多行
print('--获取连续的多行---')
print(df.iloc[0:2])
##获取间隔的多行
print('--获取间隔的多行---')
print(df.iloc[[0,2],:])
##获取某个值
print('--获取某个值---')
print(df.iloc[0,1])
#dataFrame中的排序方法
print('--dataFrame中的排序--')
print(df.sort_values(by='age',ascending=False))

       name age national
0     James  18       us
1     Curry  19    china
2  Iversion  20       us
---获取行和列----
(3, 3)
--获取列的值--
0       James
1       Curry
2    Iversion
Name: name, dtype: object
--获取多列的值--
       name age
0     James  18
1     Curry  19
2  Iversion  20
--获取行的值,要使用切片---
    name age national
0  James  18       us
--获取行索引--
['0', '1', '2']
--获取列索引--
['name', 'age', 'national']
--获取数据类型--
name        object
age         object
national    object
dtype: object
--获取数据维度--
2
--values属性---
[['James' '18' 'us']
 ['Curry' '19' 'china']
 ['Iversion' '20' 'us']]
--df的概览---
<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 0 to 2
Data columns (total 3 columns):
name        3 non-null object
age         3 non-null object
national    3 non-null object
dtypes: object(3)
memory usage: 96.0+ bytes
None
--获取某一行某一列的数据--
James
--获取某一行所有列--
name        James
age            18
national       us
Name: 0, dtype: object
--获取某一行 间隔多列--
name        James
national       us
Name: 0, dtype: object
--获取间隔 多行 多列--
       name national
0     James       us
2  Iversion       us
---获取连续的行 和 间隔的多列--
       name age national
0     James  18       us
1     Curry  19    china
2  Iversion  20       us ['name', 'national']
--位置索引获取1行---
name        Curry
age            19
national    china
Name: 1, dtype: object
--获取连续的多行---
    name age national
0  James  18       us
1  Curry  19    china
--获取间隔的多行---
       name age national
0     James  18       us
2  Iversion  20       us
--获取某个值---
18
--dataFrame中的排序--
       name age national
2  Iversion  20       us
1     Curry  19    china
0     James  18       us

In [48]:
#案列赏析
import pandas as pd
import numpy as np
data= pd.read_csv('./BJ_tianqi.csv')
#print(data)  #将数据的第一行作为列索引 
#print(data.shape) #查看数据形状

#获取某一列有多种方法
#data['日期']
#data.loc[:,'日期']
#改变行的索引---以后可能会用日期作为索引(遇到日期 很可能要将日期作为索引值)---可能辉耀统计一个月 或者一个季度，这样取数方便

#改变数据索引 set_index有一个返回值，如果inplace=true不加  那么要其结果赋值给一个变量，这个变量的索引值才是设置好的值；加上之后直接生效
data.set_index(data['日期'],inplace=True)
data.head()
#发现这个数据 的索引开头有个‘日期’ 实际上这是索引的名称
data.index.name=None
data.head()

##求全年最高温度的平均值
###将最高温度 设置成数字 data['最高温度']--相当于一个Series对象,用字符串str里面的一个方法 replace
data.loc[:,'最高温度']= data['最高温度'].str.replace('℃','').astype('int32')
data.loc[:,'最低温度']=data['最低温度'].str.replace('℃','').astype('int32')

###看全年最高温度
result = data.sort_values(by='最高温度',ascending=False)
#获取最高温度的所有信息
print(result.iloc[0,:])
#获取多行 多列数据
print(result.loc[['2019/1/3','2019/1/4','2019/1/5'],['最高温度','最低温度']])

#最高温度大于32
data.loc[data['最高温度']>32]

#最高温度小于30，最低温度大于20
data.loc[(data['最低温度']>20) & (data['最高温度']<30)]

#查询9月份的数据
index_list = data.index.tolist()
result = [i.startswith('2019/9') for i in index_list]
data[result] #或者 data.loc[result,:]
#[i*2 for i in index_list if i>2] # for 后面只能写if判断，不能写 else
#[True if i.startswith('2019/9') else False for i in index_list] 列表生成式中 如何写 if else

##添加一列数据---温差
data.loc[:,'温差'] = data['最高温度']-data['最低温度']
#温差>10 大温差 ；《=10 正常温差
data.loc[:,'温差类型'] = [ '大温差' if value>=10 else '正常温差' for value in data['温差']]
#查看全年有多少天正常温差----value_counts()---进行分类的统计结果
account_wencha = data.loc[:,'温差类型'].value_counts()
print(account_wencha)
print(data.loc[:,'风向'].value_counts())
#data.head()


#排序 
print(data.sort_values(by='温差',ascending=False))
##多值排序 以列表形式
print(data.sort_values(by=['最高温度','温差'],ascending=[False,True]))

日期      2019/7/4
最高温度          38
最低温度          25
天气          晴~多云
风向           西南风
风级            2级
空气质量           良
Name: 2019/7/4, dtype: object
          最高温度  最低温度
2019/1/3     2    -7
2019/1/4     2    -7
2019/1/5     0    -8
大温差     262
正常温差    103
Name: 温差类型, dtype: int64
东南风    104
西北风    100
西南风     81
东北风     78
北风       1
南风       1
Name: 风向, dtype: int64
                    日期  最高温度  最低温度      天气   风向  风级  空气质量  温差  温差类型
2019/4/4      2019/4/4    28     9      多云  西北风  3级  轻度污染  19   大温差
2019/10/31  2019/10/31    22     4       晴  东北风  2级     良  18   大温差
2019/3/27    2019/3/27    21     4      多云  东北风  2级  轻度污染  17   大温差
2019/3/25    2019/3/25    22     5       晴  西北风  2级     良  17   大温差
2019/3/16    2019/3/16    19     2       晴  西北风  2级     良  17   大温差
...                ...   ...   ...     ...  ...  ..   ...  ..   ...
2019/2/12    2019/2/12    -3    -8   小雪~多云  东北风  2级     优   5  正常温差
2019/7/6      2019/7/6    26    21  雷阵雨~中雨  东北风  3级     优   5  正常温差
2019/8/11    2019/8/11    28    24   中雨~小雨  东北风  2级     优   4  正常温差
2019/8/5      2019/8/5    28    24  中雨~雷阵雨  东南风  2级     优   4  正常温差
2019/2/14    2019/2/14    -3    -6   小雪~多云  东南风  2级     良   3  正常温差

[365 rows x 9 columns]
                    日期  最高温度  最低温度      天气   风向  风级  空气质量  温差  温差类型
2019/7/4      2019/7/4    38    25    晴~多云  西南风  2级     良  13   大温差
2019/7/26    2019/7/26    37    27       晴  西南风  2级     良  10   大温差
2019/5/23    2019/5/23    37    21       晴  东南风  2级     良  16   大温差
2019/7/21    2019/7/21    36    27    晴~多云  西南风  2级  轻度污染   9  正常温差
2019/7/24    2019/7/24    36    27  多云~雷阵雨  西南风  2级     良   9  正常温差
...                ...   ...   ...     ...  ...  ..   ...  ..   ...
2019/1/15    2019/1/15    -2   -10       晴  西北风  3级     良   8  正常温差
2019/2/14    2019/2/14    -3    -6   小雪~多云  东南风  2级     良   3  正常温差
2019/2/12    2019/2/12    -3    -8   小雪~多云  东北风  2级     优   5  正常温差
2019/12/31  2019/12/31    -3   -10       晴  西北风  1级     优   7  正常温差
2019/12/30  2019/12/30    -5   -12       晴  西北风  4级     优   7  正常温差

[365 rows x 9 columns]

In [26]:
#空值处理  有2种方式：dropna 删除空值   --空值不影响分析的时候 不用删除；影响分析的时候  可以删除，
#                                    但数据样本比较少的时候，尽量不要去删，可以采用填充的方式
#                  fillna 填充空值
#                  isnull 判断空值
import pandas as pd

#header=None:避免在读取的时候 将第一行作为列索引 header=2 将第2行作为列索引 （索引从0开始）
##csv和excel的区别在于: csv只能创建1个sheet,如果要指定读取哪个sheet 就用sheetname = 'sheet2'
#df = pd.read_excel('./student_excel.xlsx',header=2)
#skiprows->跳过n行开始读取，usecols->从 第几列读到第几列（左闭右开 ）

#df = pd.read_excel('./student_excel.xlsx',skiprows=2,usecols="B:E")
#删除列--全是空值
df = pd.read_excel('./student_excel.xlsx',header=2)
df
print(df)
#axis表示 是行还是列
#how的值有3个 ：any:只要有空值就删掉； all:全是空值就删掉
#删除全是空值的列
print('---删除全是空值的列---')
df.dropna(axis=1,how='all',inplace=True)
print(df)
#删除全是空值的行
print('---删除全是空值的行---')
df.dropna(axis=0,how='all',inplace=True)
df

#填充方式
#df.fillna({'分数':0},inplace=True)
#只填充姓名这一列  method:填充方式 有2个值： ffill(使用前一个值填充)，bfill（使用后一个值填充）
df.loc[:,'姓名'] = df['姓名'].fillna(method='ffill',axis=0)
df

    Unnamed: 0   姓名   科目    分数
0          NaN   小明   语文  85.0
1          NaN  NaN   数学  80.0
2          NaN  NaN   英语  90.0
3          NaN  NaN  NaN   NaN
4          NaN   小王   语文  85.0
5          NaN  NaN   数学   NaN
6          NaN  NaN   英语  90.0
7          NaN  NaN  NaN   NaN
8          NaN   小刚   语文  85.0
9          NaN  NaN   数学  80.0
10         NaN  NaN   英语  90.0
---删除全是空值的列---
     姓名   科目    分数
0    小明   语文  85.0
1   NaN   数学  80.0
2   NaN   英语  90.0
3   NaN  NaN   NaN
4    小王   语文  85.0
5   NaN   数学   NaN
6   NaN   英语  90.0
7   NaN  NaN   NaN
8    小刚   语文  85.0
9   NaN   数学  80.0
10  NaN   英语  90.0
---删除全是空值的行---

    姓名  科目    分数
0   小明  语文  85.0
1   小明  数学  80.0
2   小明  英语  90.0
4   小王  语文  85.0
5   小王  数学   NaN
6   小王  英语  90.0
8   小刚  语文  85.0
9   小刚  数学  80.0
10  小刚  英语  90.0

In [40]:
#dataFrame里面的轴
import numpy as np
df = pd.DataFrame(np.arange(12).reshape(3,4),columns=['A','B','C','D'])
print(df)
#删除一列数据 A
print('----删除第A列-------')
df.drop('A',axis=1,inplace=True)
print(df) 
#删除第一行
df.drop(0,axis=0)
print('----删除第1行-------')
print(df)

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
----删除第A列-------
   B   C   D
0  1   2   3
1  5   6   7
2  9  10  11
----删除第1行-------
   B   C   D
0  1   2   3
1  5   6   7
2  9  10  11

In [53]:
#数据的合并 join merge concat
##join 是基于index的连接    dataframe的列
df3=pd.DataFrame({'Red':[1,3,5],'Green':[5,0,3]},index=list('abc'))
print(df3)
df4=pd.DataFrame({'Blue':[1,9,8],'Yellow':[6,6,7]},index=list('cde'))
print(df4)
#join合并  how有这么几个值 left right  outer（把所有的进行合并，相同的就并在一起） inner（只找行索引相同的）
print('--left连接--')
print(df3.join(df4,how='left'))
print('--outer连接--')
print(df3.join(df4,how='outer'))
print('--inner连接--')
print(df3.join(df4,how='inner'))

##起别名 针对两个dataFrame里面有重名的
print('--起别名---')
df3=pd.DataFrame({'Red':[1,3,5],'Green':[5,0,3]},index=list('abc'))
df4=pd.DataFrame({'Blue':[1,9,8],'Green':[6,6,7]},index=list('cde'))
#print(df3.join(df4,how='left')) 这里会有一个suffix的报错
print(df3.join(df4,how='left',lsuffix='l_green',rsuffix='r_green'))

   Red  Green
a    1      5
b    3      0
c    5      3
   Blue  Yellow
c     1       6
d     9       6
e     8       7
--left连接--
   Red  Green  Blue  Yellow
a    1      5   NaN     NaN
b    3      0   NaN     NaN
c    5      3   1.0     6.0
--outer连接--
   Red  Green  Blue  Yellow
a  1.0    5.0   NaN     NaN
b  3.0    0.0   NaN     NaN
c  5.0    3.0   1.0     6.0
d  NaN    NaN   9.0     6.0
e  NaN    NaN   8.0     7.0
--inner连接--
   Red  Green  Blue  Yellow
c    5      3     1       6
--起别名---
   Red  Greenl_green  Blue  Greenr_green
a    1             5   NaN           NaN
b    3             0   NaN           NaN
c    5             3   1.0           6.0

In [60]:
# merge 基于column链接
# merge 实际相当于数据库里的join
df1=pd.DataFrame({'名字':list('ABCDE'),'性别':['男','女','男','男','女'],'职称':['副教授','讲师','助教','教授','助教']},index=range(1001,1006))
print(df1)

df2=pd.DataFrame({'名字':list('ABDAX'),'课程':['C++','计算机导论','汇编','数据结构','马克思原理'],'职称':['副教授','讲师','教授','副教授','讲师']},index=[1001,1002,1004,1001,3001])
print(df2)

#没有指定具体哪一列，它会以左侧为基准
print(pd.merge(df1,df2,how='left'))

#指定列 进行合并  默认采用inner的形式
print('--指定单列合并--')
pd.merge(df1,df2,on='名字')
#指定多列进行合并
pd.merge(df1,df2,on=['职称','名字'])

     名字 性别   职称
1001  A  男  副教授
1002  B  女   讲师
1003  C  男   助教
1004  D  男   教授
1005  E  女   助教
     名字     课程   职称
1001  A    C++  副教授
1002  B  计算机导论   讲师
1004  D     汇编   教授
1001  A   数据结构  副教授
3001  X  马克思原理   讲师
  名字 性别   职称     课程
0  A  男  副教授    C++
1  A  男  副教授   数据结构
2  B  女   讲师  计算机导论
3  C  男   助教    NaN
4  D  男   教授     汇编
5  E  女   助教    NaN
--指定单列合并--

  名字 性别   职称     课程
0  A  男  副教授    C++
1  A  男  副教授   数据结构
2  B  女   讲师  计算机导论
3  D  男   教授     汇编

In [76]:
# concat 合并相同的的Excel时或者是给dataframe添加行或者列的时候使用
df1 = pd.DataFrame(np.arange(6).reshape(3,2),columns=['four','five'])
df2 = pd.DataFrame(np.arange(6).reshape(2,3),columns=['one','two','three'])
print(df1)
print(df2)
print(pd.concat([df1,df2],sort=True))
#指定axi=0 纵向=按行合并
print('--纵向合并-按行合并--')
print(pd.concat([df1,df2],axis=0,sort=True,ignore_index=True))

print('--横向合并-按列合并--')
print(pd.concat([df1,df2],axis=1,sort=True,ignore_index=True))

   four  five
0     0     1
1     2     3
2     4     5
   one  two  three
0    0    1      2
1    3    4      5
   five  four  one  three  two
0   1.0   0.0  NaN    NaN  NaN
1   3.0   2.0  NaN    NaN  NaN
2   5.0   4.0  NaN    NaN  NaN
0   NaN   NaN  0.0    2.0  1.0
1   NaN   NaN  3.0    5.0  4.0
--纵向合并-按行合并--
   five  four  one  three  two
0   1.0   0.0  NaN    NaN  NaN
1   3.0   2.0  NaN    NaN  NaN
2   5.0   4.0  NaN    NaN  NaN
3   NaN   NaN  0.0    2.0  1.0
4   NaN   NaN  3.0    5.0  4.0
--横向合并-按列合并--
   0  1    2    3    4
0  0  1  0.0  1.0  2.0
1  2  3  3.0  4.0  5.0
2  4  5  NaN  NaN  NaN